USE [master]
GO
/****** Object:  Database [QuanLyTaiSanCtyDATN]    Script Date: 8/9/2021 6:00:06 PM ******/
CREATE DATABASE [QuanLyTaiSanCtyDATN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyTaiSanCtyDATN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyTaiSanCtyDATN.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyTaiSanCtyDATN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QuanLyTaiSanCtyDATN_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyTaiSanCtyDATN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyTaiSanCtyDATN]
GO
/****** Object:  UserDefinedFunction [dbo].[splitstring]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[splitstring] ( @stringToSplit VARCHAR(MAX) )
RETURNS
 @returnList TABLE ([Name] [nvarchar] (500))
AS
BEGIN

 DECLARE @name NVARCHAR(255)
 DECLARE @pos INT

 WHILE CHARINDEX(',', @stringToSplit) > 0
 BEGIN
  SELECT @pos  = CHARINDEX(',', @stringToSplit)  
  SELECT @name = SUBSTRING(@stringToSplit, 1, @pos-1)

  INSERT INTO @returnList 
  SELECT @name

  SELECT @stringToSplit = SUBSTRING(@stringToSplit, @pos+1, LEN(@stringToSplit)-@pos)
 END

 INSERT INTO @returnList
 SELECT @stringToSplit

 RETURN
END


GO
/****** Object:  Table [dbo].[Credential]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Credential](
	[UserGroupID] [varchar](20) NOT NULL,
	[RoleID] [varchar](50) NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Credential] PRIMARY KEY CLUSTERED 
(
	[UserGroupID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DestructivelDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestructivelDevice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[DateOfDestructive] [date] NULL,
	[TypeOfDestructive] [int] NULL,
	[AddressOfDestructive] [nvarchar](500) NULL,
	[UserId] [int] NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreatedDate] [date] NULL,
 CONSTRAINT [PK_CancelDevice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DestructiveType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DestructiveType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_CancelType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Device]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Device](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceCode] [char](50) NULL,
	[DeviceName] [nvarchar](200) NULL,
	[TypeOfDevice] [int] NULL,
	[ParentId] [int] NULL,
	[Configuration] [nvarchar](500) NULL,
	[Price] [float] NULL,
	[PurchaseContract] [nvarchar](500) NULL,
	[DateOfPurchase] [date] NULL,
	[SupplierId] [int] NULL,
	[Guarantee] [date] NULL,
	[UserId] [int] NULL,
	[Notes] [nvarchar](2000) NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
	[StatusRepair] [int] NULL,
	[NewCode] [char](50) NULL,
 CONSTRAINT [PK_Device] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DeviceDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceDevice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceCodeParents] [int] NULL,
	[DeviceCodeChildren] [int] NULL,
	[TypeSymbolParents] [int] NULL,
	[TypeSymbolChildren] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[UserCreated] [int] NULL,
	[UserModified] [int] NULL,
	[IsDeleted] [bit] NULL,
	[Notes] [nvarchar](500) NULL,
	[TypeComponant] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeviceOfProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceOfProject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NULL,
	[DeviceId] [int] NULL,
	[DateOfDelivery] [date] NULL,
	[DateOfReturn] [date] NULL,
	[Status] [int] NULL,
	[Notes] [nvarchar](2000) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_DeviceOfProject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeviceType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NULL,
	[TypeSymbol] [nchar](50) NULL,
	[Notes] [nvarchar](1000) NULL,
	[OrderCode] [int] NULL CONSTRAINT [DF_DeviceType_OrderCode]  DEFAULT ((1)),
 CONSTRAINT [PK_DeviceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DeviceTypeComponantType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTypeComponantType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TypeSymbolParents] [int] NULL,
	[TypeSymbolChildren] [int] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[UserCreated] [int] NULL,
	[UserModified] [int] NULL,
	[IsDeleted] [bit] NULL,
	[TypeComponant] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectDKC]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectDKC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](200) NULL,
	[ProjectSymbol] [nchar](50) NULL,
	[ManagerProject] [int] NULL,
	[Address] [nvarchar](1000) NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
	[TypeProject] [int] NULL,
 CONSTRAINT [PK_ProjectDKC] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RepairDetails]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[DateOfRepair] [date] NULL,
	[NextDateOfRepair] [date] NULL,
	[TimeOrder] [int] NULL,
	[TypeOfRepair] [int] NULL,
	[AddressOfRepair] [nvarchar](500) NULL,
	[UserId] [int] NULL,
	[Notes] [nvarchar](1000) NULL,
	[CreateDate] [date] NULL,
	[Price] [float] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_RepairDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RepairType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NULL,
	[Notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_RepairType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequestDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestDevice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserRequest] [int] NULL,
	[DateOfRequest] [date] NULL,
	[DateOfUse] [date] NULL,
	[DeviceName] [nvarchar](200) NULL,
	[TypeOfDevice] [int] NULL,
	[Configuration] [nvarchar](2000) NULL,
	[Notes] [nvarchar](2000) NULL,
	[Approved] [bit] NULL,
	[UserApproved] [int] NULL,
	[CreatedDate] [date] NULL,
	[Status] [int] NULL,
	[NumDevice] [int] NULL,
	[NoteProcess] [nvarchar](2000) NULL,
	[NoteReasonRefuse] [nvarchar](2000) NULL,
	[NameUserApproved] [nvarchar](100) NULL,
 CONSTRAINT [PK_RequestDevice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [varchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ScheduleTest]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NULL,
	[DateOfTest] [date] NULL,
	[NextDateOfTest] [date] NULL,
	[CategoryTest] [nvarchar](2000) NULL,
	[UserTest] [int] NULL,
	[Notes] [nvarchar](2000) NULL,
	[Status] [int] NULL,
	[CreateDate] [date] NULL,
 CONSTRAINT [PK_ScheduleTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Email] [char](50) NULL,
	[Phone] [char](15) NULL,
	[Address] [nvarchar](500) NULL,
	[Support] [nvarchar](500) NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsageDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsageDevice](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateUse] [date] NULL,
	[UserId] [int] NULL,
	[ProjectId] [int] NULL,
	[Notes] [nvarchar](500) NULL,
	[DeviceId] [int] NULL,
 CONSTRAINT [PK_UsageDevice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [char](50) NULL,
	[PassWord] [char](200) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [char](50) NULL,
	[PhoneNumber] [char](15) NULL,
	[Address] [nvarchar](500) NULL,
	[Department] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NULL,
	[RoleId] [int] NULL,
	[Status] [int] NULL,
	[IsDeleted] [bit] NULL,
	[GroupID] [varchar](20) NULL CONSTRAINT [DF_User_GroupID]  DEFAULT ('MEMBER'),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserGroup](
	[ID] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_UserGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserLogin]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserLogin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [char](50) NULL,
	[PassWord] [char](50) NULL,
	[GroupID] [varchar](20) NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [char](50) NULL,
	[IsDeleted] [bit] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_UserLogin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Credential] ON 

INSERT [dbo].[Credential] ([UserGroupID], [RoleID], [ID]) VALUES (N'ADMIN', N'ADD_DEPARTMENT', 483)
INSERT [dbo].[Credential] ([UserGroupID], [RoleID], [ID]) VALUES (N'ADMIN', N'ADD_DEVICE', 484)
INSERT [dbo].[Credential] ([UserGroupID], [RoleID], [ID]) VALUES (N'ADMIN', N'ADD_DEVICE_COMPONAN', 485)
GO
SET IDENTITY_INSERT [dbo].[Credential] OFF
SET IDENTITY_INSERT [dbo].[Device] ON 

INSERT [dbo].[Device] ([Id], [DeviceCode], [DeviceName], [TypeOfDevice], [ParentId], [Configuration], [Price], [PurchaseContract], [DateOfPurchase], [SupplierId], [Guarantee], [UserId], [Notes], [CreatedDate], [ModifiedDate], [Status], [IsDeleted], [StatusRepair], [NewCode]) VALUES (1, N'MMT00001                                          ', N'Màn máy asus', 2, NULL, N'<p>-M&agrave;n 27 inch&nbsp;</p><p>-Full HD</p>', 6000000, N'', CAST(N'2023-09-10' AS Date), 1, CAST(N'2023-11-30' AS Date), 4, N'', CAST(N'2023-09-13' AS Date), CAST(N'2023-10-29' AS Date), 1, 0, 0, NULL)
INSERT [dbo].[Device] ([Id], [DeviceCode], [DeviceName], [TypeOfDevice], [ParentId], [Configuration], [Price], [PurchaseContract], [DateOfPurchase], [SupplierId], [Guarantee], [UserId], [Notes], [CreatedDate], [ModifiedDate], [Status], [IsDeleted], [StatusRepair], [NewCode]) VALUES (2, N'MMT00002                                          ', N'Màn máy tính ASUS', 2, 3069, N'<p>- 27 inch&nbsp;</p><p>- Full HD</p>', 6000000, N'<p>- Mua tại cửa h&agrave;ng</p>', CAST(N'2023-09-01' AS Date), 1, CAST(N'2020-04-19' AS Date), 2, N'', CAST(N'2023-09-13' AS Date), NULL, 1, 0, NULL, NULL)
INSERT [dbo].[Device] ([Id], [DeviceCode], [DeviceName], [TypeOfDevice], [ParentId], [Configuration], [Price], [PurchaseContract], [DateOfPurchase], [SupplierId], [Guarantee], [UserId], [Notes], [CreatedDate], [ModifiedDate], [Status], [IsDeleted], [StatusRepair], [NewCode]) VALUES (3, N'MMT00003                                          ', N'Màn máy tính Asus', 2, NULL, N'<p>-M&agrave;n 27 inch</p><p>-Full HD</p>', 6000000, N'', CAST(N'2023-09-01' AS Date), NULL, CAST(N'2023-09-28' AS Date), NULL, N'', CAST(N'2023-09-13' AS Date), NULL, 0, 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Device] OFF
SET IDENTITY_INSERT [dbo].[DeviceDevice] ON 

INSERT [dbo].[DeviceDevice] ([id], [DeviceCodeParents], [DeviceCodeChildren], [TypeSymbolParents], [TypeSymbolChildren], [CreatedDate], [ModifiedDate], [UserCreated], [UserModified], [IsDeleted], [Notes], [TypeComponant]) VALUES (1082, 3099, 9, 1, 4, CAST(N'2023-12-29' AS Date), NULL, NULL, NULL, 0, NULL, 0)
INSERT [dbo].[DeviceDevice] ([id], [DeviceCodeParents], [DeviceCodeChildren], [TypeSymbolParents], [TypeSymbolChildren], [CreatedDate], [ModifiedDate], [UserCreated], [UserModified], [IsDeleted], [Notes], [TypeComponant]) VALUES (1083, 3099, 3100, 1, 19, CAST(N'2023-12-30' AS Date), NULL, NULL, NULL, 0, NULL, 1)
INSERT [dbo].[DeviceDevice] ([id], [DeviceCodeParents], [DeviceCodeChildren], [TypeSymbolParents], [TypeSymbolChildren], [CreatedDate], [ModifiedDate], [UserCreated], [UserModified], [IsDeleted], [Notes], [TypeComponant]) VALUES (2083, 3102, 2079, 1, 4, CAST(N'2020-01-06' AS Date), NULL, NULL, NULL, 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[DeviceDevice] OFF
SET IDENTITY_INSERT [dbo].[DeviceOfProject] ON 

INSERT [dbo].[DeviceOfProject] ([Id], [ProjectId], [DeviceId], [DateOfDelivery], [DateOfReturn], [Status], [Notes], [IsDeleted]) VALUES (3095, 5, 3088, CAST(N'2023-12-18' AS Date), CAST(N'2023-12-18' AS Date), 0, N' ', 0)
INSERT [dbo].[DeviceOfProject] ([Id], [ProjectId], [DeviceId], [DateOfDelivery], [DateOfReturn], [Status], [Notes], [IsDeleted]) VALUES (3096, 5, 3083, CAST(N'2023-12-18' AS Date), CAST(N'2023-12-18' AS Date), 0, N' ', 0)
INSERT [dbo].[DeviceOfProject] ([Id], [ProjectId], [DeviceId], [DateOfDelivery], [DateOfReturn], [Status], [Notes], [IsDeleted]) VALUES (3097, 5, 3075, CAST(N'2023-12-18' AS Date), CAST(N'2023-12-18' AS Date), 0, N' ', 0)
SET IDENTITY_INSERT [dbo].[DeviceOfProject] OFF
SET IDENTITY_INSERT [dbo].[DeviceType] ON 

INSERT [dbo].[DeviceType] ([Id], [TypeName], [TypeSymbol], [Notes], [OrderCode]) VALUES (1, N'Laptop', N'LTP                                               ', N'Máy tính xách tay ', 85)
INSERT [dbo].[DeviceType] ([Id], [TypeName], [TypeSymbol], [Notes], [OrderCode]) VALUES (2, N'Màn máy tính', N'MMT                                               ', N'Màn máy tính để bàn ', 41)
INSERT [dbo].[DeviceType] ([Id], [TypeName], [TypeSymbol], [Notes], [OrderCode]) VALUES (3, N'Case máy tính', N'CMT                                               ', N'Cây máy tính để bàn ', 22)
SET IDENTITY_INSERT [dbo].[DeviceType] OFF
SET IDENTITY_INSERT [dbo].[DeviceTypeComponantType] ON 

INSERT [dbo].[DeviceTypeComponantType] ([id], [TypeSymbolParents], [TypeSymbolChildren], [CreatedDate], [ModifiedDate], [UserCreated], [UserModified], [IsDeleted], [TypeComponant]) VALUES (2, 1, 4, NULL, NULL, NULL, NULL, 0, NULL)
INSERT [dbo].[DeviceTypeComponantType] ([id], [TypeSymbolParents], [TypeSymbolChildren], [CreatedDate], [ModifiedDate], [UserCreated], [UserModified], [IsDeleted], [TypeComponant]) VALUES (3, 1, 2, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[DeviceTypeComponantType] ([id], [TypeSymbolParents], [TypeSymbolChildren], [CreatedDate], [ModifiedDate], [UserCreated], [UserModified], [IsDeleted], [TypeComponant]) VALUES (4, 6, 6, CAST(N'2023-11-21' AS Date), NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[DeviceTypeComponantType] OFF
SET IDENTITY_INSERT [dbo].[ProjectDKC] ON 

INSERT [dbo].[ProjectDKC] ([Id], [ProjectName], [ProjectSymbol], [ManagerProject], [Address], [FromDate], [ToDate], [CreatedDate], [ModifiedDate], [Status], [IsDeleted], [TypeProject]) VALUES (5, N'Phòng kĩ thuật 1', N'P001                                              ', 1, N'Tầng 1, tòa Center Poin, 219 Trung Kính,hn', NULL, NULL, CAST(N'2023-10-22' AS Date), CAST(N'0001-01-01' AS Date), 2, 0, 1)
INSERT [dbo].[ProjectDKC] ([Id], [ProjectName], [ProjectSymbol], [ManagerProject], [Address], [FromDate], [ToDate], [CreatedDate], [ModifiedDate], [Status], [IsDeleted], [TypeProject]) VALUES (6, N'Phòng kĩ thuật 2', N'P002                                              ', 2, N'Tầng 1, 219 Trung Kính, Hà Nội', NULL, NULL, CAST(N'2023-10-22' AS Date), CAST(N'0001-01-01' AS Date), 1, 0, 1)
INSERT [dbo].[ProjectDKC] ([Id], [ProjectName], [ProjectSymbol], [ManagerProject], [Address], [FromDate], [ToDate], [CreatedDate], [ModifiedDate], [Status], [IsDeleted], [TypeProject]) VALUES (1008, N'Phòng kĩ thuật 4', N'PKT4                                              ', NULL, N'', NULL, NULL, CAST(N'2023-12-18' AS Date), CAST(N'0001-01-01' AS Date), 1, 0, 1)
SET IDENTITY_INSERT [dbo].[ProjectDKC] OFF
SET IDENTITY_INSERT [dbo].[RepairDetails] ON 

INSERT [dbo].[RepairDetails] ([Id], [DeviceId], [DateOfRepair], [NextDateOfRepair], [TimeOrder], [TypeOfRepair], [AddressOfRepair], [UserId], [Notes], [CreateDate], [Price], [Status]) VALUES (2, 10, CAST(N'2023-10-16' AS Date), NULL, NULL, NULL, N'', 3, N'', CAST(N'2023-10-21' AS Date), NULL, 0)
INSERT [dbo].[RepairDetails] ([Id], [DeviceId], [DateOfRepair], [NextDateOfRepair], [TimeOrder], [TypeOfRepair], [AddressOfRepair], [UserId], [Notes], [CreateDate], [Price], [Status]) VALUES (3, 17, CAST(N'2023-10-23' AS Date), NULL, 10, 1, N'', 4, N'<p>Hỏng mạch điện&nbsp;</p>', CAST(N'2023-10-23' AS Date), 234000, 1)
INSERT [dbo].[RepairDetails] ([Id], [DeviceId], [DateOfRepair], [NextDateOfRepair], [TimeOrder], [TypeOfRepair], [AddressOfRepair], [UserId], [Notes], [CreateDate], [Price], [Status]) VALUES (1002, 1, CAST(N'2023-10-29' AS Date), NULL, NULL, 1, N'Hà Nội', 2, N'<p>Hỏng m&agrave;n&nbsp;</p>', CAST(N'2023-10-29' AS Date), 12000000, 1)
SET IDENTITY_INSERT [dbo].[RepairDetails] OFF
SET IDENTITY_INSERT [dbo].[RepairType] ON 

INSERT [dbo].[RepairType] ([Id], [TypeName], [Notes]) VALUES (1, N'Sửa Phần cứng ', N'')
SET IDENTITY_INSERT [dbo].[RepairType] OFF
SET IDENTITY_INSERT [dbo].[RequestDevice] ON 

INSERT [dbo].[RequestDevice] ([Id], [UserRequest], [DateOfRequest], [DateOfUse], [DeviceName], [TypeOfDevice], [Configuration], [Notes], [Approved], [UserApproved], [CreatedDate], [Status], [NumDevice], [NoteProcess], [NoteReasonRefuse], [NameUserApproved]) VALUES (1, 1, CAST(N'2023-09-03' AS Date), CAST(N'2023-09-05' AS Date), N'Màn máy tính ', 2, N'', N'', 1, NULL, CAST(N'2023-09-20' AS Date), 1, 2, N'đã chuyển 100 thiết bị rồi ', N'', N'')
INSERT [dbo].[RequestDevice] ([Id], [UserRequest], [DateOfRequest], [DateOfUse], [DeviceName], [TypeOfDevice], [Configuration], [Notes], [Approved], [UserApproved], [CreatedDate], [Status], [NumDevice], [NoteProcess], [NoteReasonRefuse], [NameUserApproved]) VALUES (2, 4, CAST(N'2023-12-02' AS Date), CAST(N'2023-12-11' AS Date), N'Máy tính ', 1, N'', N'', 0, NULL, CAST(N'2023-12-28' AS Date), 2, 10, N'', N'Không phù hợp', N'')
INSERT [dbo].[RequestDevice] ([Id], [UserRequest], [DateOfRequest], [DateOfUse], [DeviceName], [TypeOfDevice], [Configuration], [Notes], [Approved], [UserApproved], [CreatedDate], [Status], [NumDevice], [NoteProcess], [NoteReasonRefuse], [NameUserApproved]) VALUES (3, 4, CAST(N'2023-12-28' AS Date), CAST(N'2023-12-25' AS Date), N'Máy in', 11, N'<p>- Cấu h&igrave;nh m&aacute;y in&nbsp;</p>', N'', 0, NULL, CAST(N'2023-12-28' AS Date), 1, 1, N'Đã giao 1 thiết bị', N'', NULL)
SET IDENTITY_INSERT [dbo].[RequestDevice] OFF
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'ADD_DEPARTMENT', N'Thêm phòng ban')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'ADD_DEVICE', N'Thêm thiết bị')
INSERT [dbo].[Role] ([ID], [Name]) VALUES (N'ADD_DEVICE_COMPONAN', N'Thêm mới thiết bị con ')
SET IDENTITY_INSERT [dbo].[ScheduleTest] ON 

INSERT [dbo].[ScheduleTest] ([Id], [DeviceId], [DateOfTest], [NextDateOfTest], [CategoryTest], [UserTest], [Notes], [Status], [CreateDate]) VALUES (1, 2, CAST(N'2023-09-03' AS Date), NULL, N'Vệ sinh máy ', NULL, N'', 1, CAST(N'2023-09-20' AS Date))
INSERT [dbo].[ScheduleTest] ([Id], [DeviceId], [DateOfTest], [NextDateOfTest], [CategoryTest], [UserTest], [Notes], [Status], [CreateDate]) VALUES (2, 2, CAST(N'2020-01-05' AS Date), CAST(N'2020-01-16' AS Date), N'Kiểm tra phần cứng ', 5, N'', 1, CAST(N'2020-01-04' AS Date))
SET IDENTITY_INSERT [dbo].[ScheduleTest] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Name], [Email], [Phone], [Address], [Support], [Status]) VALUES (1, N'Máy tính Hà Nội', N'mt@gmail.com                                      ', N'09823252342    ', N'Thanh Xuân, Hà Nội', NULL, 0)
INSERT [dbo].[Supplier] ([Id], [Name], [Email], [Phone], [Address], [Support], [Status]) VALUES (2, N'Thiết bị số Hà Tây', N'tbs@gmail.com                                     ', N'0968435253     ', N'Hà Tây, Hà Nội, VN', NULL, 0)
INSERT [dbo].[Supplier] ([Id], [Name], [Email], [Phone], [Address], [Support], [Status]) VALUES (3, N'Điện máy xanh', N'dmx@gmail.com                                     ', N'01239650655    ', N'Nam Định, Việt Nam', NULL, 0)
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET IDENTITY_INSERT [dbo].[UsageDevice] ON 

INSERT [dbo].[UsageDevice] ([Id], [DateUse], [UserId], [ProjectId], [Notes], [DeviceId]) VALUES (3144, CAST(N'2023-12-28' AS Date), NULL, 6, N'Thêm vào dự án', 3090)
INSERT [dbo].[UsageDevice] ([Id], [DateUse], [UserId], [ProjectId], [Notes], [DeviceId]) VALUES (3145, CAST(N'2023-12-28' AS Date), NULL, 6, N'Trả về kho', 3090)
SET IDENTITY_INSERT [dbo].[UsageDevice] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [PassWord], [FullName], [Email], [PhoneNumber], [Address], [Department], [Position], [RoleId], [Status], [IsDeleted], [GroupID]) VALUES (1, N'BMT                                               ', N'123                                                                                                                                                                                                     ', N'BMT', N'aaa                                               ', N'123            ', N'aaa', NULL, NULL, NULL, NULL, NULL, N'ADMIN')
INSERT [dbo].[User] ([Id], [UserName], [PassWord], [FullName], [Email], [PhoneNumber], [Address], [Department], [Position], [RoleId], [Status], [IsDeleted], [GroupID]) VALUES (2, N'DMV                                               ', N'123                                                                                                                                                                                                     ', N'Đỗ Minh Vượng', N'V@gmail.com                                       ', N'01266456578    ', N'Nam Định', N'Phòng 1 ', N'Developer', NULL, 0, 0, N'MEMBER')
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UserGroup] ([ID], [Name]) VALUES (N'ADMIN', N'Quản trị viên')
INSERT [dbo].[UserGroup] ([ID], [Name]) VALUES (N'ADMIN2', N'ADMIN')
INSERT [dbo].[UserGroup] ([ID], [Name]) VALUES (N'DIRECTOR', N'Giám đốc')
SET IDENTITY_INSERT [dbo].[UserLogin] ON 

INSERT [dbo].[UserLogin] ([Id], [UserName], [PassWord], [GroupID], [FullName], [Email], [IsDeleted], [Status]) VALUES (16, N'BMT                                               ', N'827ccb0eea8a706c4c34a16891f84e7b                  ', N'ADMIN', N'Bùi Minh Trí', NULL, 0, NULL)
INSERT [dbo].[UserLogin] ([Id], [UserName], [PassWord], [GroupID], [FullName], [Email], [IsDeleted], [Status]) VALUES (17, N'DMV                                               ', N'827ccb0eea8a706c4c34a16891f84e7b                  ', N'DIRECTOR', N'Đỗ Minh Vượng', NULL, 0, NULL)
INSERT [dbo].[UserLogin] ([Id], [UserName], [PassWord], [GroupID], [FullName], [Email], [IsDeleted], [Status]) VALUES (18, N'PML                                               ', N'827ccb0eea8a706c4c34a16891f84e7b                  ', N'MANAGER', N'Phí Mạnh Lợi', NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[UserLogin] OFF
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_UserGroup] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([ID])
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_UserGroup]
GO
ALTER TABLE [dbo].[Credential]  WITH CHECK ADD  CONSTRAINT [FK_Credential_UserGroup1] FOREIGN KEY([UserGroupID])
REFERENCES [dbo].[UserGroup] ([ID])
GO
ALTER TABLE [dbo].[Credential] CHECK CONSTRAINT [FK_Credential_UserGroup1]
GO
ALTER TABLE [dbo].[DestructivelDevice]  WITH CHECK ADD  CONSTRAINT [FK_CancelDevice_CancelType] FOREIGN KEY([TypeOfDestructive])
REFERENCES [dbo].[DestructiveType] ([Id])
GO
ALTER TABLE [dbo].[DestructivelDevice] CHECK CONSTRAINT [FK_CancelDevice_CancelType]
GO
ALTER TABLE [dbo].[DestructivelDevice]  WITH CHECK ADD  CONSTRAINT [FK_CancelDevice_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[DestructivelDevice] CHECK CONSTRAINT [FK_CancelDevice_Device]
GO
ALTER TABLE [dbo].[DestructivelDevice]  WITH CHECK ADD  CONSTRAINT [FK_CancelDevice_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[DestructivelDevice] CHECK CONSTRAINT [FK_CancelDevice_User]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_DeviceType] FOREIGN KEY([TypeOfDevice])
REFERENCES [dbo].[DeviceType] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_DeviceType]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_Supplier] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_Supplier]
GO
ALTER TABLE [dbo].[Device]  WITH CHECK ADD  CONSTRAINT [FK_Device_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Device] CHECK CONSTRAINT [FK_Device_User]
GO
ALTER TABLE [dbo].[DeviceDevice]  WITH CHECK ADD  CONSTRAINT [FK_DeviceDevice_Device] FOREIGN KEY([DeviceCodeChildren])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[DeviceDevice] CHECK CONSTRAINT [FK_DeviceDevice_Device]
GO
ALTER TABLE [dbo].[DeviceDevice]  WITH CHECK ADD  CONSTRAINT [FK_DeviceDevice_Device1] FOREIGN KEY([DeviceCodeParents])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[DeviceDevice] CHECK CONSTRAINT [FK_DeviceDevice_Device1]
GO
ALTER TABLE [dbo].[DeviceOfProject]  WITH CHECK ADD  CONSTRAINT [FK_DeviceOfProject_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[DeviceOfProject] CHECK CONSTRAINT [FK_DeviceOfProject_Device]
GO
ALTER TABLE [dbo].[DeviceOfProject]  WITH CHECK ADD  CONSTRAINT [FK_DeviceOfProject_ProjectDKC] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectDKC] ([Id])
GO
ALTER TABLE [dbo].[DeviceOfProject] CHECK CONSTRAINT [FK_DeviceOfProject_ProjectDKC]
GO
ALTER TABLE [dbo].[DeviceTypeComponantType]  WITH CHECK ADD  CONSTRAINT [FK_DeviceTypeComponantType_DeviceType] FOREIGN KEY([TypeSymbolChildren])
REFERENCES [dbo].[DeviceType] ([Id])
GO
ALTER TABLE [dbo].[DeviceTypeComponantType] CHECK CONSTRAINT [FK_DeviceTypeComponantType_DeviceType]
GO
ALTER TABLE [dbo].[DeviceTypeComponantType]  WITH CHECK ADD  CONSTRAINT [FK_DeviceTypeComponantType_DeviceType1] FOREIGN KEY([TypeSymbolParents])
REFERENCES [dbo].[DeviceType] ([Id])
GO
ALTER TABLE [dbo].[DeviceTypeComponantType] CHECK CONSTRAINT [FK_DeviceTypeComponantType_DeviceType1]
GO
ALTER TABLE [dbo].[ProjectDKC]  WITH CHECK ADD  CONSTRAINT [FK_ProjectDKC_User] FOREIGN KEY([ManagerProject])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ProjectDKC] CHECK CONSTRAINT [FK_ProjectDKC_User]
GO
ALTER TABLE [dbo].[RepairDetails]  WITH CHECK ADD  CONSTRAINT [FK_RepairDetails_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[RepairDetails] CHECK CONSTRAINT [FK_RepairDetails_Device]
GO
ALTER TABLE [dbo].[RepairDetails]  WITH CHECK ADD  CONSTRAINT [FK_RepairDetails_RepairType] FOREIGN KEY([TypeOfRepair])
REFERENCES [dbo].[RepairType] ([Id])
GO
ALTER TABLE [dbo].[RepairDetails] CHECK CONSTRAINT [FK_RepairDetails_RepairType]
GO
ALTER TABLE [dbo].[RepairDetails]  WITH CHECK ADD  CONSTRAINT [FK_RepairDetails_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[RepairDetails] CHECK CONSTRAINT [FK_RepairDetails_User]
GO
ALTER TABLE [dbo].[RequestDevice]  WITH CHECK ADD  CONSTRAINT [FK_RequestDevice_DeviceType] FOREIGN KEY([TypeOfDevice])
REFERENCES [dbo].[DeviceType] ([Id])
GO
ALTER TABLE [dbo].[RequestDevice] CHECK CONSTRAINT [FK_RequestDevice_DeviceType]
GO
ALTER TABLE [dbo].[RequestDevice]  WITH CHECK ADD  CONSTRAINT [FK_RequestDevice_User] FOREIGN KEY([UserRequest])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[RequestDevice] CHECK CONSTRAINT [FK_RequestDevice_User]
GO
ALTER TABLE [dbo].[ScheduleTest]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleTest_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[ScheduleTest] CHECK CONSTRAINT [FK_ScheduleTest_Device]
GO
ALTER TABLE [dbo].[ScheduleTest]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleTest_User] FOREIGN KEY([UserTest])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ScheduleTest] CHECK CONSTRAINT [FK_ScheduleTest_User]
GO
ALTER TABLE [dbo].[UsageDevice]  WITH CHECK ADD  CONSTRAINT [FK_UsageDevice_Device] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Device] ([Id])
GO
ALTER TABLE [dbo].[UsageDevice] CHECK CONSTRAINT [FK_UsageDevice_Device]
GO
ALTER TABLE [dbo].[UsageDevice]  WITH CHECK ADD  CONSTRAINT [FK_UsageDevice_ProjectDKC] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectDKC] ([Id])
GO
ALTER TABLE [dbo].[UsageDevice] CHECK CONSTRAINT [FK_UsageDevice_ProjectDKC]
GO
ALTER TABLE [dbo].[UsageDevice]  WITH CHECK ADD  CONSTRAINT [FK_UsageDevice_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UsageDevice] CHECK CONSTRAINT [FK_UsageDevice_User]
GO
ALTER TABLE [dbo].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_UserLogin_UserGroup] FOREIGN KEY([GroupID])
REFERENCES [dbo].[UserGroup] ([ID])
GO
ALTER TABLE [dbo].[UserLogin] CHECK CONSTRAINT [FK_UserLogin_UserGroup]
GO
/****** Object:  StoredProcedure [dbo].[AddDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDevice]  
      @DeviceCode char(50),
	  @NewCode char(50),
      @DeviceName nvarchar(200),
      @TypeOfDevice int,
      @ParentId int,
      @Configuration nvarchar(500),
      @Price float,
      @PurchaseContract nvarchar(500),
      @DateOfPurchase date,
      @SupplierId int,
	  @ProjectId int,
      @Guarantee date,
	  @Notes nvarchar(2000),
      @UserId int,
      @Status int
AS
BEGIN
   INSERT INTO Device(DeviceCode,NewCode,DeviceName,TypeOfDevice,ParentId,Configuration,Price,PurchaseContract,DateOfPurchase,SupplierId,Guarantee,Notes, UserId,CreatedDate,Status,IsDeleted)
   values(@DeviceCode,@NewCode,@DeviceName,@TypeOfDevice,@ParentId,@Configuration,@Price,@PurchaseContract,@DateOfPurchase,@SupplierId,@Guarantee,@Notes,@UserId,GETDATE(),@Status,0)
   declare @deviceid int
   set @deviceid=SCOPE_IDENTITY()
   if(@ProjectId !=0)
      begin
            INSERT INTO DeviceOfProject (ProjectId, DeviceId, DateOfDelivery, DateOfReturn, Status, IsDeleted)
  VALUES ( @ProjectId, @deviceid, GETDATE(), null, 1, 0 )
		   Update Device set Status=1 where Id=@deviceid
	  end
END



GO
/****** Object:  StoredProcedure [dbo].[AddDeviceOfDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROC [dbo].[AddDeviceOfDevice]
  @IdParent int,
  @IdChild int ,
  @TypeChild int,
  @TypeParent int ,
  @TypeComponant int
AS
BEGIN
  INSERT INTO DeviceDevice (DeviceCodeParents, DeviceCodeChildren, TypeSymbolParents,TypeSymbolChildren ,CreatedDate, IsDeleted,TypeComponant)
  VALUES ( @IdParent, @IdChild,@TypeParent, @TypeChild,GETDATE(), 0,@TypeComponant ) 
  Update Device  set ParentId = @IdParent where Id= @IdChild
END   


GO
/****** Object:  StoredProcedure [dbo].[AddDeviceOfProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddDeviceOfProject]
  @ProjectId  int,
  @DeviceId int , 
  @Notes nvarchar(2000)
 
AS
BEGIN
  INSERT INTO DeviceOfProject (ProjectId, DeviceId, DateOfDelivery, DateOfReturn, Status, Notes, IsDeleted)
  VALUES ( @ProjectId, @DeviceId, GETDATE(), null, 1, @Notes, 0 )
  Update Device set Status=1 where Id=@DeviceId
  --Insert into UsageDevice(DeviceId,ProjectId,DateUse,Notes)
  --values(@DeviceId,@ProjectId,GETDATE(),N'Thêm vào dự án')
END


GO
/****** Object:  StoredProcedure [dbo].[AddDeviceType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddDeviceType]  
      @TypeName nvarchar(100),
	  @TypeSymbol nchar(50),
      @Notes nvarchar(1000)
AS
BEGIN
   Insert into DeviceType(TypeName,TypeSymbol,Notes)
   values (@TypeName, @TypeSymbol,@Notes)
END


GO
/****** Object:  StoredProcedure [dbo].[AddProject ]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProject ]
    @ProjectSymbol nchar(50),
    @ProjectName nvarchar(200),
    @ManagerProject int,
    @Address nvarchar(1000),
    @FromDate Date ,
	@ToDate Date,
	@Status int
AS
BEGIN
     INSERT INTO ProjectDKC (ProjectSymbol, ProjectName, ManagerProject, Address, FromDate,ToDate,CreatedDate,Status,IsDeleted,TypeProject)
     VALUES( @ProjectSymbol,@ProjectName, @ManagerProject, @Address, @FromDate, @ToDate,GETDATE(), @Status, 0,1)
END


GO
/****** Object:  StoredProcedure [dbo].[AddRepairDetails]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[AddRepairDetails]
           @DeviceId int,
           @DateOfRepair date,
           @NextDateOfRepair date,
           @TimeOrder int,
           @TypeOfRepair int,
           @AddressOfRepair nvarchar(500),
           @UserId int,
           @Notes nvarchar(1000)
		

          
	AS
	BEGIN
	 INSERT INTO [dbo].[RepairDetails]
           ([DeviceId]
           ,[DateOfRepair]
           ,[NextDateOfRepair]
           ,[TimeOrder]
           ,[TypeOfRepair]
           ,[AddressOfRepair]
           ,[UserId]
           ,[Notes]
           ,[CreateDate]
		   ,[Status]
		   ,[Price])
     VALUES
           (@DeviceId ,
           @DateOfRepair ,
           @NextDateOfRepair ,
           @TimeOrder ,
           @TypeOfRepair ,
           @AddressOfRepair ,
           @UserId ,
           @Notes ,
           GETDATE(),
		   0,
		   null)

     Update Device set StatusRepair=1,ModifiedDate=GETDATE() where Id=@DeviceId

	END



GO
/****** Object:  StoredProcedure [dbo].[AddRepairType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[AddRepairType]
          
          @TypeName nvarchar(100), 
		  @Notes nvarchar(1000)
AS
BEGIN
      INSERT INTO RepairType(TypeName,Notes)
	  VALUES (@TypeName,@Notes)
END



GO
/****** Object:  StoredProcedure [dbo].[AddRequestDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddRequestDevice]
           @UserRequest int,
           @DateOfRequest date,
           @DateOfUse date,
           @DeviceName nvarchar(200),
           @TypeOfDevice int,
           @Configuration nvarchar(2000),
           @Notes nvarchar(2000),     
           @Status int,
		   @NumDevice int ,
		   @UserApproved int
  
AS
BEGIN
    INSERT INTO RequestDevice (UserRequest, DateOfRequest, DateOfUse, DeviceName, TypeOfDevice, Configuration, Notes, Approved, UserApproved, CreatedDate, Status,NumDevice)
	VALUES ( @UserRequest ,
           GETDATE() ,
           @DateOfUse ,
           @DeviceName ,
           @TypeOfDevice,
           @Configuration,
           @Notes ,
           0,
           @UserApproved,
           GETDATE() ,
           @Status ,
		   @NumDevice)
END



GO
/****** Object:  StoredProcedure [dbo].[AddScheduleTest]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddScheduleTest]
           @DeviceId int,
           @DateOfTest date,
           @NextDateOfTest date,
           @CategoryTest nvarchar(2000),
           @UserTest int,
           @Notes nvarchar(2000)
         
  
AS
BEGIN
    INSERT INTO  ScheduleTest ( DeviceId, DateOfTest, NextDateOfTest, CategoryTest, UserTest, Notes, Status, CreateDate )
	VALUES ( @DeviceId,  @DateOfTest, @NextDateOfTest,@CategoryTest,@UserTest,@Notes, 0, GETDATE() )
END





GO
/****** Object:  StoredProcedure [dbo].[AddSupplier]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddSupplier]  
      @Name nvarchar(200),
      @Email char(50),
      @Phone char(15),
      @Address nvarchar(50),
      @Support nvarchar(500)
AS
BEGIN
    Insert into Supplier(Name,Email,Phone,Address,Support,Status)
    values (@Name,@Email,@Phone,@Address,@Support,0)
END


GO
/****** Object:  StoredProcedure [dbo].[AddTypeChidren]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddTypeChidren]
@TypeChidren int,
@TypeParent int,
@Type_TypeCom int
AS
BEGIN
  INSERT INTO DeviceTypeComponantType (TypeSymbolParents,TypeSymbolChildren,CreatedDate,ModifiedDate,UserCreated,UserModified,IsDeleted,TypeComponant)
  VALUES ( @TypeParent, @TypeChidren, GETDATE(), null,null, null, 0 ,@Type_TypeCom)
END   


GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]  
      @UserName char(50),
      @PassWord char(200),
      @FullName nvarchar(100),
      @Email char(50),
      @PhoneNumber char(15),
      @Address nvarchar(500),
      @Department nvarchar(100),
      @Position nvarchar(100),
      @RoleId int,
      @Status int
AS
BEGIN
   Insert into [dbo].[User](UserName,PassWord,FullName,Email,PhoneNumber,Address,Department,Position,RoleId,Status,IsDeleted)
   values (@UserName,@PassWord,@FullName,@Email,@PhoneNumber,@Address,@Department,@Position,@RoleId,@Status,0)
END


GO
/****** Object:  StoredProcedure [dbo].[ChildrenOfDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[ChildrenOfDevice]
@DeviceCodeParents int,
@TypeSymbolChildren int
as
begin
select v.DeviceCode,v.DeviceName,v.TypeOfDevice,p.TypeName,v.Configuration, (FORMAT(v.Price,'#,#')) Price,v.StatusRepair,v.Status as StatusDevice,v.PurchaseContract,v.DateOfPurchase

, d.DeviceCodeParents, d.DeviceCodeChildren,d.TypeSymbolParents,d.TypeSymbolChildren,d.IsDeleted, d.id,d.TypeComponant

 from DeviceDevice d, Device v ,DeviceType p 
  where d.DeviceCodeChildren = v.Id  and v.TypeOfDevice = p.Id
   and  d.DeviceCodeParents = @DeviceCodeParents   and d.TypeSymbolChildren = @TypeSymbolChildren  and d.IsDeleted = 0                                           
end 



GO
/****** Object:  StoredProcedure [dbo].[DeleteAllRole]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 Create PROC [dbo].[DeleteAllRole]
  @GroupId varchar(20)
  
AS
BEGIN
  Delete from Credential  
  where  UserGroupID =  @GroupId
END   


GO
/****** Object:  StoredProcedure [dbo].[DeleteDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[DeleteDevice]
@Id int
As
    Delete from Device
    where Id=@Id


GO
/****** Object:  StoredProcedure [dbo].[DeleteDevice1]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteDevice1]
@Id char(5000)
AS
BEGIN
    Update Device
    set IsDeleted=1
    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS char(5000))))+',',+@Id) > 0 
END


GO
/****** Object:  StoredProcedure [dbo].[DeleteDeviceOfDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[DeleteDeviceOfDevice]
  @IdParent int,
  @IdChild int ,
  @Resons nvarchar(500)
AS
BEGIN
  update DeviceDevice 
  set IsDeleted = 1 , Notes = @Resons
  where DeviceCodeParents =  @IdParent and   DeviceCodeChildren = @IdChild and IsDeleted = 0 
  Update Device  set ParentId = null where Id= @IdChild
END   

GO
/****** Object:  StoredProcedure [dbo].[DeleteDeviceOfProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROC [dbo].[DeleteDeviceOfProject]
	  @Id int

	AS
	BEGIN
	  DELETE DeviceOfProject 
	  WHERE Id = @Id  
	END


GO
/****** Object:  StoredProcedure [dbo].[DeleteDeviceType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[DeleteDeviceType]
@Id int
As
Begin
    Update Device set TypeOfDevice = null where TypeOfDevice =@Id and IsDeleted =1
	Delete RequestDevice where TypeOfDevice =@Id
    Delete from DeviceType
    where Id=@Id
End





GO
/****** Object:  StoredProcedure [dbo].[DeleteProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteProject]
    @Id int
As
Begin
  Update ProjectDKC
    set IsDeleted=1, Status =3
Where Id = @Id
end



GO
/****** Object:  StoredProcedure [dbo].[DeleteProject1]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProject1]
@Id char(5000)
AS
BEGIN
    Update ProjectDKC
    set IsDeleted=1, Status =3
    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS CHAR(5000))))+',',+@Id) > 0 
END



GO
/****** Object:  StoredProcedure [dbo].[DeleteRepairDetails]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteRepairDetails]
@Id char(5000)
AS
BEGIN
    Delete  from RepairDetails 
    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS CHAR(5000))))+',',+@Id) > 0 
END


GO
/****** Object:  StoredProcedure [dbo].[DeleteRepairDetailsOne]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[DeleteRepairDetailsOne]
    @Id int
As
Begin
  Delete RepairDetails   
  Where Id = @Id
end



GO
/****** Object:  StoredProcedure [dbo].[DeleteRepairType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteRepairType]
@Id char(11)
AS
BEGIN
    Delete RepairType
    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS CHAR(11))))+',',+@Id) > 0 
END


GO
/****** Object:  StoredProcedure [dbo].[DeleteRequestDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteRequestDevice]
@Id char(5000)
AS
BEGIN
    Delete  from RequestDevice
    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS CHAR(5000))))+',',+@Id) > 0 
END


GO
/****** Object:  StoredProcedure [dbo].[DeleteRole]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[DeleteRole]
@Id int
As
    Delete from Role
    where Id=@Id


GO
/****** Object:  StoredProcedure [dbo].[DeleteScheduleTest]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteScheduleTest]
@Id char(5000)
AS
BEGIN
    Delete ScheduleTest

    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS CHAR(5000))))+',',+@Id) > 0 
END


GO
/****** Object:  StoredProcedure [dbo].[DeleteSupplier]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[DeleteSupplier]
@Id int
As
Begin
    Update Device set SupplierId = null where SupplierId =@Id and IsDeleted =1
    Delete from Supplier
    where Id=@Id
End



GO
/****** Object:  StoredProcedure [dbo].[DeleteTypeParentTypeChild]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[DeleteTypeParentTypeChild]
@TypeChidren int,
@TypeParent int

AS
BEGIN
  Update DeviceTypeComponantType set IsDeleted = 1  where TypeSymbolChildren = @TypeChidren and TypeSymbolParents = @TypeParent and IsDeleted = 0
END   


GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]  
      @Id int
AS
BEGIN
    Update [dbo].[User] set IsDeleted=1
    where Id=@Id
END


GO
/****** Object:  StoredProcedure [dbo].[DeviceById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[DeviceById]
@Id int
As
    Select dv.*, (  FORMAT(dv.Price, '#,#'))  PriceOne ,(SELECT pj.ProjectName FROM DeviceOfProject dp INNER JOIN ProjectDKC pj ON dp.ProjectId = pj.Id WHERE dp.Status = 1 AND dp.DeviceId = dv.Id) ProjectName,
	            (SELECT dp.ProjectId FROM DeviceOfProject dp INNER JOIN ProjectDKC pj ON dp.ProjectId = pj.Id WHERE dp.Status = 1 AND dp.DeviceId = dv.Id) IdProject 
				 from Device dv
    where dv.Id=@Id



GO
/****** Object:  StoredProcedure [dbo].[DeviceHistory]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[DeviceHistory]
as
begin
Select p.ProjectName,d.DeviceId ,v.DeviceName,v.Configuration,v.TypeOfDevice ,d.DateOfDelivery,d.DateOfReturn ,d.Notes ,v.Id,t.TypeName,v.DeviceCode,v.Status,v.StatusRepair
from DeviceOfProject as d join ProjectDKC as p on d.ProjectId = p.Id  join Device as v on d.DeviceId = v.Id   join DeviceType as t on v.TypeOfDevice = t.Id  order by d.DateOfDelivery Desc 
end 


GO
/****** Object:  StoredProcedure [dbo].[DeviceOfProjectAll]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[DeviceOfProjectAll]
@ProjectId int
as
begin
Select p.ProjectName,d.DeviceId ,v.DeviceName,v.Configuration,v.TypeOfDevice ,d.DateOfDelivery,d.DateOfReturn ,d.Notes ,v.Id,t.TypeName,v.DeviceCode,v.Status,v.StatusRepair
from DeviceOfProject as d join ProjectDKC as p on d.ProjectId = p.Id  join Device as v on d.DeviceId = v.Id   join DeviceType as t on v.TypeOfDevice = t.Id 
where @ProjectId = d.ProjectId and d.Status = 1

end 



GO
/****** Object:  StoredProcedure [dbo].[DeviceTypeById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[DeviceTypeById]
@Id int
As
    Select * from DeviceType
    where Id=@Id


GO
/****** Object:  StoredProcedure [dbo].[EditRepairDetails]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EditRepairDetails]
           @Id int,
           @DeviceId int,
           @DateOfRepair date,
           @NextDateOfRepair date,
           @TimeOrder int,
           @TypeOfRepair int,
           @AddressOfRepair nvarchar(500),
           @UserId int,
           @Notes nvarchar(1000),
		   @Status int ,
		   @Price float
        
AS
BEGIN
  UPDATE RepairDetails 
  SET DeviceId = @DeviceId , DateOfRepair= @DateOfRepair,  NextDateOfRepair=@NextDateOfRepair, TimeOrder=@TimeOrder, TypeOfRepair= @TypeOfRepair, AddressOfRepair=@AddressOfRepair, UserId= @UserId,Notes=@Notes,Status =  @Status,Price=@Price
  WHERE Id= @Id
  Update Device set StatusRepair = 0 where Id=@DeviceId
END



GO
/****** Object:  StoredProcedure [dbo].[EditRepairType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EditRepairType]
          @Id int,
          @TypeName nvarchar(100), 
		  @Notes nvarchar(1000)
AS
BEGIN
      UPDATE RepairType
	  SET TypeName= @TypeName,Notes=@Notes
	  WHERE Id =@Id
END



GO
/****** Object:  StoredProcedure [dbo].[HistoryRepairDetails]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[HistoryRepairDetails]
@Id int 
as
Begin 
Select  r.*,u.FullName, d.DeviceName,d.DeviceCode,t.TypeName, format(r.Price, '#,#') PriceOne
FROM  RepairDetails as r 
			  left outer  join Device as d on r.DeviceId = d.Id 
              left outer join [dbo].[User] as u  on r.UserId = u.Id  
	          left outer join RepairType as t  on r.TypeOfRepair = t.Id  
			  Where r.DeviceId = @Id

end




GO
/****** Object:  StoredProcedure [dbo].[HistoryScheduleTestById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[HistoryScheduleTestById]
@Id int 
as
Begin 
Select  s.*,u.FullName, d.DeviceName,d.DeviceCode
FROM  ScheduleTest as s 
			  left outer  join Device as d on s.DeviceId = d.Id 
              left outer join [dbo].[User] as u  on s.UserTest = u.Id  
	        
			  Where s.DeviceId = @Id

end



GO
/****** Object:  StoredProcedure [dbo].[LiquidationDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LiquidationDevice]
@Id char(5000)
AS
BEGIN
    Update Device
    set Status=2 , IsDeleted = 1 
    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS CHAR(5000))))+',',+@Id) > 0 
END


GO
/****** Object:  StoredProcedure [dbo].[OderCode]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure  [dbo].[OderCode]
          @Id int
as
begin
    declare @odercode int
    set @odercode = (select OrderCode from DeviceType where Id= @Id)
	update DeviceType set OrderCode = @odercode + 1 where Id=@Id
	select @odercode as Code
end


GO
/****** Object:  StoredProcedure [dbo].[ProjectById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ProjectById]
           @Id int
AS
BEGIN

   SELECT *
    FROM ProjectDKC as P
    JOIN [dbo].[User] as U  ON   P.ManagerProject  = U.Id 
	Where P.Id = @Id
  
END



GO
/****** Object:  StoredProcedure [dbo].[RepairDetailsAll]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[RepairDetailsAll]

as
begin
Select r.Id ,r.DeviceId,r.AddressOfRepair,r.DateOfRepair,r.NextDateOfRepair,r.TimeOrder,r.Notes, u.FullName, d.DeviceName,t.TypeName
from RepairDetails as r 
    left outer  join Device as d on r.DeviceId = d.Id 
      left outer join [dbo].[User] as u  on r.UserId = u.Id  
	 left outer join RepairType as t on r.TypeOfRepair = t.Id


end 


GO
/****** Object:  StoredProcedure [dbo].[RepairDetailsById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RepairDetailsById]
@Id int 
as
Begin 
Select  r.*,u.FullName, d.DeviceName,t.TypeName,d.DeviceCode,d.Price,format(d.Price, '#,#') PriceOne ,format(r.Price, '#,#') PriceRepair, V.TypeName AS DeviceTypeName,S.Name, d.Status as StatusDevice
FROM  RepairDetails as r 
			  left outer  join Device as d on r.DeviceId = d.Id 
              left outer join [dbo].[User] as u  on r.UserId = u.Id  
	          left outer join RepairType as t on r.TypeOfRepair = t.Id 
			   left outer join DeviceType as v on d.TypeOfDevice = v.Id 
			     left outer join Supplier as S on d.SupplierId = S.Id 
			  Where r.Id = @Id

end

GO
/****** Object:  StoredProcedure [dbo].[ReturnDeviceOfProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ReturnDeviceOfProject]
  @ProjectId  int,
  @DeviceId int ,
  @Notes nvarchar(2000)
 
AS
BEGIN
  update DeviceOfProject set Status = 0,DateOfReturn = GETDATE(), Notes = @Notes where @ProjectId = ProjectId and @DeviceId = DeviceId and Status =1
  Update Device set Status=0 where Id=@DeviceId
  --Insert into UsageDevice(DeviceId,ProjectId,DateUse,Notes)
  --values(@DeviceId,@ProjectId,GETDATE(),N'Trả về kho')
END


GO
/****** Object:  StoredProcedure [dbo].[ReturnDeviceProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ReturnDeviceProject]
  @DeviceId int   
AS
BEGIN
  declare @ProjectId int 
  set @ProjectId = (select ProjectId from DeviceOfProject where DeviceId=@DeviceId and Status=1)
  if (@ProjectId is not Null)
     begin
	    Update DeviceOfProject  set Status = 0,DateOfReturn = GETDATE() where @DeviceId=DeviceId and Status =1
        Update Device set Status=0 where Id=@DeviceId
        Insert into UsageDevice(DeviceId,ProjectId,DateUse,Notes)
          values(@DeviceId,@ProjectId,GETDATE(),N'Trả về kho')
     end
END


GO
/****** Object:  StoredProcedure [dbo].[RoleById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create Procedure [dbo].[RoleById]
@Id int
As
    Select * from Role
    where Id=@Id


GO
/****** Object:  StoredProcedure [dbo].[ScheduleTestById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ScheduleTestById]
@Id int 
as
Begin 
Select  s.*,u.FullName, d.DeviceName,d.DeviceCode
FROM  ScheduleTest as s 
			  left outer  join Device as d on s.DeviceId = d.Id 
              left outer join [dbo].[User] as u  on s.UserTest = u.Id  
	        
			  Where s.Id = @Id

end



GO
/****** Object:  StoredProcedure [dbo].[SeachDeviceOfProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SeachDeviceOfProject]
@devicetypes int, 
@status int
as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = 'Where 1 = 1 '
if (@devicetypes <> null )
    set @condition = @condition + 'AND ManagerProject =' + CAST(@devicetypes as char)
if(@status <> -1)
	set @condition = @condition + ' AND D.Status = ' + CAST(@status as char)
SET @query = 'SELECT  * FROM DeviceOfProject as D JOIN Device as E  ON   D.DeviceId  = E.Id  ' + @condition 
EXECUTE sp_executesql @query
end




GO
/****** Object:  StoredProcedure [dbo].[SearchDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery21.sql|7|0|C:\Users\tribm\AppData\Local\Temp\~vs8CDF.sql
CREATE PROC [dbo].[SearchDevice] 
@status int,
@devicetype int,
@guarantee int,
@projectid int,
@devicecode nvarchar(500)
as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = ' Where nv.IsDeleted=0 '
if(@status <> -1)
	set @condition = @condition + ' AND nv.Status = ' + CAST(@status as char)
if(@devicetype <> 0)
	set @condition = @condition + ' AND TypeOfDevice = ' + CAST(@devicetype as char)
if(@guarantee =1 )
	set @condition = @condition + ' AND Guarantee >=  GETDATE()' 
if(@guarantee =2)
	set @condition = @condition + ' AND Guarantee < GETDATE()' 
if(@projectid <> 0)
	set @condition = @condition + ' AND (SELECT dv.ProjectId FROM DeviceOfProject dv INNER JOIN ProjectDKC pj ON dv.ProjectId = pj.Id WHERE dv.Status = 1 AND dv.DeviceId = nv.Id) = ' + CAST(@projectid as char)
if(@devicecode<> '' )
	set @condition = @condition + ' AND (nv.DeviceCode LIKE N'+char(39)+'%'+@devicecode+'%'+ char(39)+ ' OR kv.FullName Like N'+ nchar(39) +'%'+@devicecode+'%' + nchar(39)+ N' OR  nv.DeviceName Like N'+ nchar(39) +'%'+@devicecode+'%' + nchar(39)+')'
SET @query = 'SELECT nv.*,( FORMAT(nv.Price,'+char(39)+'  '+char(35)+','+char(35)+''+char(39)+')) PriceOne,ph.TypeName,kv.FullName,sp.Name,(SELECT pj.ProjectSymbol FROM DeviceOfProject dv INNER JOIN ProjectDKC pj ON dv.ProjectId = pj.Id WHERE dv.Status = 1 AND dv.DeviceId = nv.Id) ProjectSymbol,(SELECT pj.ProjectName FROM DeviceOfProject dv INNER JOIN ProjectDKC pj ON dv.ProjectId = pj.Id WHERE dv.Status = 1 AND dv.DeviceId = nv.Id) ProjectName,
(select  Concat((Case TypeComponant when 0 then '+char(39)+'Tb ngoài'+char(39)+' when 1 then N'+char(39)+'Tb trong'+char(39)+' else '+char(39)+' '+char(39)+' end ) ,'+char(39)+' - '+char(39)+' , (Select v.DeviceCode from Device  v where v.Id = d.DeviceCodeParents )) from DeviceDevice d where d.DeviceCodeParents = nv.ParentId and d.DeviceCodeChildren = nv.Id and d.IsDeleted = 0 ) NameTypeComponant

 FROM Device nv
    left outer JOIN DeviceType ph
          ON ph.Id = nv.TypeOfDevice
    left outer JOIN [User] kv
          ON kv.Id = nv.UserId 
    left outer JOIN Supplier sp
          ON sp.Id = nv.SupplierId ' + @condition +' ORDER BY nv.Id Desc '
EXECUTE sp_executesql @query
end




GO
/****** Object:  StoredProcedure [dbo].[SearchDevice2]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SearchDevice2] 
@status int,
@devicetype int,
@guarantee int,
@projectid int,
@devicecode nvarchar(500)
as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = ' Where nv.IsDeleted=0 '
if(@status <> -1)
	set @condition = @condition + ' AND nv.Status = ' + CAST(@status as char)
if(@devicetype <> 0)
	set @condition = @condition + ' AND TypeOfDevice = ' + CAST(@devicetype as char)
if(@guarantee =1 )
	set @condition = @condition + ' AND Guarantee >=  GETDATE()' 
if(@guarantee =2)
	set @condition = @condition + ' AND Guarantee < GETDATE()' 
if(@projectid <> 0)
	set @condition = @condition + ' AND (SELECT dv.ProjectId FROM DeviceOfProject dv INNER JOIN ProjectDKC pj ON dv.ProjectId = pj.Id WHERE dv.Status = 1 AND dv.DeviceId = nv.Id) = ' + CAST(@projectid as char)
if(@devicecode<> '' )
	set @condition = @condition + ' AND (nv.DeviceCode LIKE N'+char(39)+'%'+@devicecode+'%'+ char(39)+ ' OR kv.FullName Like N'+ nchar(39) +'%'+@devicecode+'%' + nchar(39)+ N' OR  nv.DeviceName Like N'+ nchar(39) +'%'+@devicecode+'%' + nchar(39)+')'
SET @query = 'SELECT nv.*,ph.TypeName,kv.FullName,sp.Name,(SELECT pj.ProjectSymbol FROM DeviceOfProject dv INNER JOIN ProjectDKC pj ON dv.ProjectId = pj.Id WHERE dv.Status = 1 AND dv.DeviceId = nv.Id) ProjectSymbol,(SELECT pj.ProjectName FROM DeviceOfProject dv INNER JOIN ProjectDKC pj ON dv.ProjectId = pj.Id WHERE dv.Status = 1 AND dv.DeviceId = nv.Id) ProjectName FROM Device nv
    left outer JOIN DeviceType ph
          ON ph.Id = nv.TypeOfDevice
    left outer JOIN [User] kv
          ON kv.Id = nv.UserId 
    left outer JOIN Supplier sp
          ON sp.Id = nv.SupplierId ' + @condition +' ORDER BY nv.Id Desc '
EXECUTE sp_executesql @query
end




GO
/****** Object:  StoredProcedure [dbo].[SearchDeviceType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SearchDeviceType] 
as
begin
Select * from DeviceType
end


GO
/****** Object:  StoredProcedure [dbo].[SearchProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchProject] 
@managerProject int, 
@status int,
@TypeProject int , 
@ProjectSymbol nchar(50)
as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = ' where P.IsDeleted = 0'
if (@managerProject <> -1 )
    set @condition = @condition + ' AND ManagerProject =' + CAST(@managerProject as char)
if(@status <> -1)
	set @condition = @condition + ' AND P.Status = ' + CAST(@status as char)

if(@ProjectSymbol<> '' )
	set @condition = @condition + N' AND P.ProjectSymbol LIKE N' + char(39) + @ProjectSymbol + char(39)

if(@TypeProject <> -1)
	set @condition = @condition + ' AND P.TypeProject = ' + CAST(@TypeProject as char)

SET @query = 'SELECT  P.* , U.[FullName], (SELECT count(dp.DeviceId)
FROM DeviceOfProject dp where dp.ProjectId = P.Id and dp.Status =1) NumDevice FROM ProjectDKC as P  left outer JOIN  [dbo].[User] as U  ON   P.ManagerProject  = U.Id  ' + @condition 
EXECUTE sp_executesql @query
end



GO
/****** Object:  StoredProcedure [dbo].[SearchRepairDetails]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchRepairDetails] 
@repairtypes int, 
@user int,
@iddevice int,
@status int
as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = ' where 1=1'
if (@repairtypes <> -1 )
    set @condition = @condition + 'AND r.TypeOfRepair =' + CAST(@repairtypes as char)
if(@user <> -1)
	set @condition = @condition + ' AND r.UserId = ' + CAST(@user as char)
if (@iddevice <> -1 )
    set @condition = @condition + 'AND r.DeviceId =' + CAST(@iddevice as char)
if (@status <> -1 )
set @condition = @condition + 'AND r.Status =' + CAST(@status as char)
SET @query = 'SELECT r.*,( FORMAT(r.Price,'+char(39)+'  '+char(35)+','+char(35)+''+char(39)+')) PriceOne, u.FullName, d.DeviceName,t.TypeName,d.DeviceCode
              FROM  RepairDetails as r 
			  left outer  join Device as d on r.DeviceId = d.Id 
              left outer join [dbo].[User] as u  on r.UserId = u.Id  
	          left outer join RepairType as t on r.TypeOfRepair = t.Id '
			   + @condition 
EXECUTE sp_executesql @query
end



GO
/****** Object:  StoredProcedure [dbo].[SearchRepairDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchRepairDevice] 
@id int

as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = 'Where nv.IsDeleted=0 '
if(@id <> -1)
	set @condition = @condition + ' AND nv.Id = ' + CAST(@id as char)

SET @query = 'SELECT nv.*,ph.TypeName,kv.FullName,sp.Name,pj.ProjectName FROM Device nv
    left outer JOIN DeviceType ph
          ON ph.Id = nv.TypeOfDevice
    left outer JOIN [User] kv
          ON kv.Id = nv.UserId 
    left outer JOIN Supplier sp
          ON sp.Id = nv.SupplierId 
    left outer JOIN DeviceOfProject dp
          ON dp.DeviceId = nv.Id
    left outer JOIN ProjectDKC pj
          ON pj.Id = dp.ProjectId ' + @condition 
EXECUTE sp_executesql @query
end


GO
/****** Object:  StoredProcedure [dbo].[SearchRequestDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchRequestDevice]
@status int, 
@approved bit

as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = ' where 1=1'
if (@status <> -1 )
    set @condition = @condition + 'AND r.Status =' + CAST(@status as char)
if(@approved <> -1)
	set @condition = @condition + ' AND r.Approved = ' + CAST(@approved as char)

SET @query = 'SELECT r.*,u.FullName,d.TypeName
				 FROM  RequestDevice as r
				 left outer  join [dbo].[User] as u on r.UserRequest = u.Id
				 left outer  join DeviceType as d on r.TypeOfDevice = d.Id
                                                                      '
			   + @condition 
EXECUTE sp_executesql @query
end



GO
/****** Object:  StoredProcedure [dbo].[SearchRequestDeviceNew]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchRequestDeviceNew]
@status int, 
@approved bit

as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = ' where 1=1'
if (@status <> -1 )
    set @condition = @condition + 'AND r.Status =' + CAST(@status as char)
if(@approved <> -1)
	set @condition = @condition + ' AND r.Approved = ' + CAST(@approved as char)

SET @query = 'SELECT r.*,u.FullName,d.TypeName
				 FROM  RequestDevice as r
				 left outer  join [dbo].[User] as u on r.UserRequest = u.Id
				 left outer  join DeviceType as d on r.TypeOfDevice = d.Id
                                                                      '
			   + @condition 
EXECUTE sp_executesql @query
end





GO
/****** Object:  StoredProcedure [dbo].[SearchRole]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SearchRole]
as
begin
Select * from Role
end


GO
/****** Object:  StoredProcedure [dbo].[SearchScheduleTest]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchScheduleTest]
@user int, 
@status int

as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = ' where 1=1'
if (@user <> -1 )
    set @condition = @condition + 'AND s.UserTest =' + CAST(@user as char)
if(@status <> -1)
	set @condition = @condition + ' AND s.Status = ' + CAST(@status as char)

SET @query = 'SELECT s.*,u.FullName, d.DeviceName,d.DeviceCode
				 FROM  ScheduleTest as s
				 left outer  join [dbo].[User] as u on s.UserTest = u.Id
				 left outer  join Device as d on s.DeviceId = d.Id
                                                                      '
			   + @condition 
EXECUTE sp_executesql @query
end



GO
/****** Object:  StoredProcedure [dbo].[SearchSupplier]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[SearchSupplier]
@Status int
as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = 'Where 1 = 1 '
if(@status <> -1)
	set @condition = @condition + ' AND Status = ' + CAST(@status as char)
SET @query = 'SELECT * FROM Supplier' + @condition 
EXECUTE sp_executesql @query
end


GO
/****** Object:  StoredProcedure [dbo].[SearchUseDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SearchUseDevice] 
           @DeviceId int 
as
Begin
   Select ud.*,pj.ProjectName from UsageDevice ud
         left outer JOIN ProjectDKC pj
          ON pj.Id = ud.ProjectId
       Where ud.DeviceId =@DeviceId
	   ORDER BY ud.Id Desc
End


GO
/****** Object:  StoredProcedure [dbo].[SearchUser]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SearchUser] 
@status int
as
begin
declare @query Nvarchar(2000)
declare @condition Nvarchar(2000) 
SET @condition = 'Where us.IsDeleted=0 '
if(@status <> -1)
	set @condition = @condition + ' AND Status = ' + CAST(@status as char)

SET @query = 'SELECT us.* FROM [dbo].[User] us ' + @condition 
EXECUTE sp_executesql @query
end


GO
/****** Object:  StoredProcedure [dbo].[SelectList]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectList]
@Id char(11)
AS
BEGIN
    select* from Device 
    WHERE CHARINDEX(','+LTRIM(RTRIM(CAST(Id AS CHAR(11))))+',',@Id) > 0 
END


GO
/****** Object:  StoredProcedure [dbo].[StatisticalDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[StatisticalDevice]
as
begin
select dv.*,   (  FORMAT(dv.Price, '#,#'))  PriceOne , (SELECT COUNT(DeviceId) FROM DeviceOfProject where dv.Id=DeviceOfProject.DeviceId ) as TimeUse,
                                          (Select Count(Id) from RepairDetails where dv.Id=RepairDetails.DeviceId ) TimeRepair,
                                          FORMAT( (Select SUM(Price) from RepairDetails where dv.Id=RepairDetails.DeviceId ), '#,#') SumPrice										
from Device dv where dv.IsDeleted = 0 and dv.Status != 2 
end



GO
/****** Object:  StoredProcedure [dbo].[StatisticProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[StatisticProject]
as
begin
SELECT  Id, ProjectName,ProjectSymbol,Status,NumDevice, NumDeviceActive, NumDevice - NumDeviceActive as NumDeviceReturn  FROM
(
	SELECT
		P.Id , P.ProjectName , P.ProjectSymbol , P.Status,
		(SELECT count(DISTINCT dp.DeviceId)FROM DeviceOfProject dp where dp.ProjectId = P.Id) as NumDevice ,
		(SELECT count(dp.DeviceId)FROM DeviceOfProject dp where dp.ProjectId = P.Id  and dp.Status=1) as NumDeviceActive
	FROM
		ProjectDKC as P where P.IsDeleted = 0 and P.TypeProject = 1
)
ReturnTable

end 



GO
/****** Object:  StoredProcedure [dbo].[SupplierById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[SupplierById]
@Id int
As
    Select * from Supplier
    where Id=@Id


GO
/****** Object:  StoredProcedure [dbo].[TypeComponantOfDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[TypeComponantOfDevice]
@TypeParent int
as
begin
select 
(Select t.TypeName from DeviceType t where t.Id = d.TypeSymbolParents )  NameTypeParents,
(Select t.TypeName from DeviceType t where t.Id = d.TypeSymbolChildren )  NameTypeChildren,
d.TypeSymbolParents , d.TypeSymbolChildren,d.id,d.IsDeleted, d.TypeComponant
from DeviceTypeComponantType as d 
where d.TypeSymbolParents = @TypeParent 
end 

GO
/****** Object:  StoredProcedure [dbo].[UpdateDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDevice]  
      @Id int,
      @DeviceCode char(50),
	  @NewCode char(50),
      @DeviceName nvarchar(200),
      @TypeOfDevice int,
      @ParentId int,
      @Configuration nvarchar(500),
      @Price float,
      @PurchaseContract nvarchar(500),
      @DateOfPurchase date,
      @SupplierId int,
      @Guarantee date,
      @UserId int,
      @Notes nvarchar(2000),
      @CreatedDate date,
      @Status int
AS
BEGIN
   Update Device
   set DeviceCode=@DeviceCode,NewCode=@NewCode,DeviceName=@DeviceName,TypeOfDevice=@TypeOfDevice,ParentId=@ParentId,Configuration=@Configuration,Price=@Price,PurchaseContract=@PurchaseContract,DateOfPurchase=@DateOfPurchase,SupplierId=@SupplierId,Guarantee=@Guarantee,UserId=@UserId,Notes=@Notes,CreatedDate=@CreatedDate,Status=@Status
   where Id=@Id
END


GO
/****** Object:  StoredProcedure [dbo].[UpdateDeviceOfProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateDeviceOfProject]
  @Id int,
  @ProjectId  int,
  @DeviceId int , 
  @DateOfDelivery date,
  @DateOfReturn date, 
  @Status int,
  @Notes nvarchar(2000),
  @IsDeleted bit
AS
BEGIN
  UPDATE DeviceOfProject 
  SET ProjectId =@ProjectId ,  DeviceId=@DeviceId,  DateOfDelivery=@DateOfDelivery,DateOfReturn= @DateOfReturn,Status= @Status,Notes= @Notes,IsDeleted= @IsDeleted 
 WHERE Id = @Id  
END



GO
/****** Object:  StoredProcedure [dbo].[UpdateDeviceType]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateDeviceType] 
      @Id int, 
      @TypeName nvarchar(100),
	  @TypeSymbol nchar(50),
      @Notes nvarchar(1000)
AS
BEGIN
   Update DeviceType
   set TypeName=@TypeName,TypeSymbol= @TypeSymbol ,Notes=@Notes where Id=@Id
END


GO
/****** Object:  StoredProcedure [dbo].[UpdateProject]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProject]
    @Id int,
	@ProjectSymbol nchar(50),
    @ProjectName nvarchar(200),
    @ManagerProject int,
    @Address nvarchar(1000),
    @FromDate Date ,
	@ToDate Date,
	@CreatedDate Date,
	@ModifiedDate Date,
	@Status int ,
	@IsDeleted bit
AS
BEGIN
     UPDATE ProjectDKC
	SET  ProjectSymbol=@ProjectSymbol,ProjectName=@ProjectName, ManagerProject=@ManagerProject, Address=@Address, FromDate=@FromDate, ToDate=@ToDate, CreatedDate=@CreatedDate, ModifiedDate=@ModifiedDate, Status=@Status, IsDeleted=@IsDeleted 
	 WHERE  Id = @Id
END



GO
/****** Object:  StoredProcedure [dbo].[UpdateRequestDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateRequestDevice]
           @Id int ,
           @UserRequest int,
           @DateOfRequest date,
           @DateOfUse date,
           @DeviceName nvarchar(200),
           @TypeOfDevice int,
           @Configuration nvarchar(2000),
           @Notes nvarchar(2000),
           @Approved bit,
           @UserApproved int,           
           @Status int,
		   @NumDevice int,
		   @NoteProcess nvarchar(2000),
           @NoteReasonRefuse nvarchar(2000),
		   @NameUserApproved nvarchar(100)
  
AS
BEGIN
    UPDATE RequestDevice
	SET  UserRequest= @UserRequest ,
           DateOfRequest=@DateOfRequest ,
           DateOfUse=@DateOfUse ,
          DeviceName= @DeviceName ,
         TypeOfDevice=  @TypeOfDevice,
          Configuration= @Configuration,
           Notes=@Notes ,
          Approved= @Approved,
          UserApproved= @UserApproved ,     
           Status= @Status ,
		   NumDevice = @NumDevice,
		  NoteProcess = @NoteProcess,
		   NoteReasonRefuse = @NoteReasonRefuse,
		   NameUserApproved = @NameUserApproved
	WHERE Id = @Id
END



GO
/****** Object:  StoredProcedure [dbo].[UpdateScheduleTest]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[UpdateScheduleTest]
           @Id int,
           @DeviceId int,
           @DateOfTest date,
           @NextDateOfTest date,
           @CategoryTest nvarchar(2000),
           @UserTest int,
           @Notes nvarchar(2000),
           @Status int
           
  
AS
BEGIN
    UPDATE  ScheduleTest 
	SET DeviceId= @DeviceId, DateOfTest = @DateOfTest, NextDateOfTest= @NextDateOfTest, CategoryTest=@CategoryTest, UserTest=@UserTest, Notes=@Notes, Status=@Status
     WHERE Id = @Id
END






GO
/****** Object:  StoredProcedure [dbo].[UpdateSupplier]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSupplier]
      @Id int,
      @Name nvarchar(200),
      @Email char(50),
      @Phone char(15),
      @Address nvarchar(50),
      @Support nvarchar(500),
      @Status int
AS
BEGIN
      Update Supplier
      set Name=@Name,Email=@Email,Phone=@Phone,Address=@Address,Support=@Support,Status=@Status where Id=@Id
      
END


GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser]  
      @Id int,
      @UserName char(50),
      @PassWord char(200),
      @FullName nvarchar(100),
      @Email char(50),
      @PhoneNumber char(15),
      @Address nvarchar(500),
      @Department nvarchar(100),
      @Position nvarchar(100),
      @RoleId int,
      @Status int
AS
BEGIN
   Update [dbo].[User]
   set UserName=@UserName,PassWord=@PassWord,FullName=@FullName,Email=@Email,PhoneNumber=@PhoneNumber,Address=@Address,Department=@Department,Position=@Position,RoleId=@RoleId,Status=@Status where Id=@Id
END


GO
/****** Object:  StoredProcedure [dbo].[UpdateUserDevice]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[UpdateUserDevice]  
      @IdDv int,
      @IdUser int
	  
AS
BEGIN
   Update Device
   set  UserId= @IdUser
   where Id= @IdDv
END


GO
/****** Object:  StoredProcedure [dbo].[UserById]    Script Date: 8/9/2021 6:00:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[UserById]
@Id int
As
    Select * from [dbo].[User]
    where Id=@Id


GO
USE [master]
GO
